/* Universal Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f6f8fa;
  margin: 0;
  padding: 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

img {
  max-width: 40%; /* This makes sure your image scales down if it's too large */
  height: auto;
  border-radius: 50px;
}

.menu {
  font-size: 20px;
}

.menu a {
  text-decoration: none;
  color: #3498db;
  margin: 0 15px;
  transition: color 0.2s;
}

.menu a:hover {
  color: #2980b9;
}

.subscribe-button {
  background-color: #3498db;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.2s;
}

.subscribe-button:hover {
  background-color: #2980b9;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

h2 {
  color: white;
  text-align: center;
  width: 100%; /* Makes sure it spans the full width */
}

.description {
  flex: 1;  /* Allows it to take the remaining space after art-display */
  max-width: 700px;
  margin-right: 20px;  /* Gives some spacing between the description and art */
  text-align: left;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.description h4 {
  font-weight: normal;
  font-size: 20px;
}

.art-display {
  flex-basis: 400px;  /* Explicitly gives it a width */
  height: 400px;
  background-color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}